/* 一般 */
html, body, div {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

/* キャンバス */
#canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #888;
}

#canvas>canvas:first-of-type {
	max-width: 100vw;
	max-height: 100vh;
	width: calc(100vh);
	height: calc(100vw);
}
